
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image align-self-center text-center">
                            <img src="../../../assets/image/add.png">
                        </div>
                        <div class="col-lg-6" style="align-self: center;">
                            <div class="p-5">
                                <div class="text-center">
                                    <!-- <h1 class="h4 text-gray-900 mb-4">Create New Admint Account!</h1> -->
                                </div>
                                <form [formGroup]="adminRegisterForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label for="firstName">First Name</label>
                                        <input type="text" formControlName="firstName" class="form-control border-100" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                            <div *ngIf="f.firstName.errors">First Name is required (5-30 character) </div>
                                        </div>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="lastName">Last Name</label>
                                        <input type="text" formControlName="lastName" class="form-control border-100" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                            <div *ngIf="f.lastName.errors.required">Last Name is required (5-30 character)</div>
                                        </div>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="emailId">Email</label>
                                        <input type="emailId" formControlName="emailId" class="form-control border-100" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
                                        <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                                            <div *ngIf="f.emailId.errors.required">Email is required</div>
                                            <div *ngIf="f.emailId.errors.pattern">Please provide a valid email address</div>
                                        </div>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label for="password">Password</label>
                                        <input type="password" formControlName="password" class="form-control border-100" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                            <div *ngIf="f.password.errors.required">Password is required</div>
                                        </div>
                                    </div>
                                    <button [disabled]="loading" class="btn btn-primary col-12 mt-4 border-100">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                        Register
                                    </button>
                                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small">You are about to create a new Admin!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>